@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,600&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&family=Rubik:wght@300;400;500&family=Urbanist:ital,wght@0,300;0,400;1,100;1,200;1,400&display=swap");

body {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.delete,
.edit {
  float: right;
  cursor: pointer;
  margin-left: 15px;
  font-size: 20px;
}
button {
  border: none;
  background-color: transparent;
}
.container {
  margin: 20px auto;

  width: 80%;
  padding: 20px;
  background-color: #bdb8b8ef;
  border-radius: 4px;
  text-transform: capitalize;
}
.title {
  text-align: center;
}
img {
  width: 200px;
}
.form-container {
  margin: 10px;
}
label {
  font-size: 20px;
}
input {
  border: none;
  font-size: 20px;
  padding: 5px;
}
/* input[type="text"] {
  
} */
input[type="text"]:focus {
  border-bottom: 2.5px solid #111;
  outline: none;
}

.submit-btn,
.clear-tasks {
  background-color: #333;
  color: #f4f4f4;
  cursor: pointer;
}
.form-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task,
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task {
  margin-bottom: 0;
  padding-bottom: 0;
}
.clear-tasks {
  padding: 7px;
  font-size: 17px;
  border-radius: 1px;
}
.clear-tasks:hover {
  background-color: #111;
  color: #f4f4f4;
}
/* .btn-container {
} */
.alert {
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 3px;
  /* display: none; */
}

.alert-danger {
  background-color: #f4f4f4;
  color: red;
}
.alert-success {
  color: green;
  background-color: aliceblue;
}
